language: cpp
compiler:
  - clang
notifications:
  email: false
env:
  matrix:
    - JULIAVERSION="juliareleases"
    - JULIAVERSION="julianightlies"
before_install:
  - sudo add-apt-repository ppa:staticfloat/julia-deps -y
  - sudo add-apt-repository ppa:staticfloat/${JULIAVERSION} -y
  - sudo apt-get update -qq -y
  - sudo apt-get install libpcre3-dev julia -y
  - if [[ -a .git/shallow ]] ; then git fetch --unshallow ; fi
script:
  - if [ $JULIAVERSION = "julianightlies" ] ; then julia --code-coverage -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.test("RDF")' ; fi
  - if [ $JULIAVERSION = "juliarelease" ] ; then julia -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.test("RDF")' ; fi
after_success:
  - if [ $JULIAVERSION = "julianightlies" ] ; then julia -e 'cd(Pkg.dir("RDF")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'; fi

